$actionsheet-prefix: bm-ActionSheet;

.#{$actionsheet-prefix}-group {
  &.Message {
    .MessageItem {
      .MessageItem-inner {
        display: flex;

        .bm-FadeInUp {
          flex: 1 0 auto;
        }
      }
    }
  }
}

.#{$actionsheet-prefix} {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  font-weight: 400;
  cursor: default;

  .#{$actionsheet-prefix}-title {
    box-sizing: border-box;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #8f8e94;
    background-size: 100% 1px;
    background-color: rgba(255, 255, 255, .9);
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) 100%);
  }

  .#{$actionsheet-prefix}-button {
    box-sizing: border-box;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    text-align: center;
    border-radius: 0;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .9);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) 100%);
    transition: all .3s;

    &.#{$actionsheet-prefix}-cancel {
      margin: 8px 0 0 0;
      font-weight: 600;
      background-image: none;
    }

    &:active {
      background: #eee;
    }
  }
}