@import "../common/variables";
@import "../common/mixin";
$breadcrumb-prefix: bm-Breadcrumb;

.#{$breadcrumb-prefix} {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  & > li {
    display: flex;
    align-items: center;
    list-style: none;

    > .bm-Icon {
      font-size: 18px;
      padding-right: 5px;
    }

    .#{$breadcrumb-prefix}-separator {
      padding: 0 5px;
    }

    &:last-child .#{$breadcrumb-prefix}-title {
      color: #999;
      cursor: auto;
    }

    &:not(:last-child) .#{$breadcrumb-prefix}-title {
      cursor: pointer;

      &:active,
      &:hover {
        color: #666;
      }
    }
  }
}