$buttonnavigation-prefix: bm-ButtonNavigation;

.#{$buttonnavigation-prefix} {
  height: 56px;
  display: flex;
  justify-content: center;
  background-color: $buttonNavigationBg;
  box-shadow: 0 3px 14px 2px rgba(0,0,0,.12);
  transition: all .4s cubic-bezier(.25,.8,.5,1);

  &.#{$buttonnavigation-prefix}-fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }

  .#{$buttonnavigation-prefix}Item {
    flex: 1;
    min-width: 80px;
    max-width: 168px;
    height: 100%;
    padding: 6px 12px 10px;
    box-shadow: none;
    border-radius: 0;
    color: $buttonNavigationColor;

    &:active {
      box-shadow: none;
    }

    .#{$buttonnavigation-prefix}Item-inner {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      span {
        font-size: 12px;
        transition: font-size 0.2s, opacity 0.2s;
        transition-delay: 0.1s
      }
    }

    &.#{$buttonnavigation-prefix}Item-active {
      color: $buttonNavigationActiveColor;

      .#{$buttonnavigation-prefix}Item-inner {
        span {
          font-size: 13px;
        }
      }
    }
  }
}