$inputtext-prefix: bm-Inputtext;

.#{$inputtext-prefix} {
  display: flex;
  position: relative;
  
  .#{$inputtext-prefix}-startAdorn,
  .#{$inputtext-prefix}-endAdorn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
    position: relative;
    transition: all .3s;
    .bm-Icon {
        font-size: 16px
    }
  }

  .#{$inputtext-prefix}-startAdorn,
  .#{$inputtext-prefix}-endAdorn {
    padding: 0 10px;
  }

  label {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    &:not(:first-child):not(:last-child) {
      .#{$inputtext-prefix}-field {
        input {
          border-radius: 0;
        }
      }
    }
  }

  .#{$inputtext-prefix}-label {
    font-weight: normal;
    font-size: 13px;
    vertical-align: middle;
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
  }

  &.#{$inputtext-prefix}-lg {
    .#{$inputtext-prefix}-field {
      input {
        height: 40px;
      }
    }
  }

  &.#{$inputtext-prefix}-sm {
    .#{$inputtext-prefix}-field {
      input {
        height: 32px;
      }
    }
  }

  &.#{$inputtext-prefix}-xs {
    .#{$inputtext-prefix}-field {
      input {
        height: 24px;
      }
    }
  }

  .#{$inputtext-prefix}-field {
    position: relative;

    input {
      font-family: $fontFamily;
      width: 100%;
      padding: 0 10px;
      outline: none;
      color: $inputColor;
      border: none;
      box-sizing: border-box;
      border-radius: 4px;
      transition: all 0.3s;

      &[type="text"], &[type="password"], &[type="number"] {
        -webkit-appearance: none;
      }

      &::placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &::-webkit-input-placeholder{
        color: $inputPlaceHolderColor;
      }

      &:disabled,
      &[disabled]{
        cursor: not-allowed;

        &::placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &::-webkit-input-placeholder{
          color: $inputDisabledColor;
        }
      }
    }
  }

  &.#{$inputtext-prefix}-focus {
    hr {
      &:after {
        width: 100%;
      }
    }
  }

  hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $inputBorderColor;
    border: 0;
    content: "";
    display: block;
    height: 1px;
    margin: 0;
    transition: all .3s;

    &:after {
      background: $inputFocusBorderColor;
      content: "";
      display: block;
      height: 2px;
      transition-duration: .25s;
      transition-property: width;
      width: 0;
      margin: auto;
    }
  }

  &.#{$inputtext-prefix}-inline {
    label {
      flex-direction: row;
      align-items: center;

      .#{$inputtext-prefix}-label {
        flex: 0 0 auto;
        margin: 0 5px 0 0;
      }

      .#{$inputtext-prefix}-field {
        flex: 1 1 auto;
      }
    }
  }

  &.#{$inputtext-prefix}-animated {
    .#{$inputtext-prefix}-field {
      margin-top: 16px;
    }

    .#{$inputtext-prefix}-label {
      position: absolute;
      top: 0;
      left: 10px;
      z-index: 10;
      padding: 0;
      font-size: 17.5px;
      line-height: 1;
      margin: 0;
      transform-origin: top left;
      transform: translate(0, 24px) scale(1);
      transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    }

    &.#{$inputtext-prefix}-focus,
    &.#{$inputtext-prefix}-noEmpty {
      .#{$inputtext-prefix}-label {
        transform: translate(0, .5px) scale(0.75);
      }
    }
  }
}

