$knob-prefix: bm-Knob;

.#{$knob-prefix} {
  position: relative;
  display: inline-flex;
  background: $knobBg;

  .#{$knob-prefix}-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .#{$knob-prefix}-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .#{$knob-prefix}-circle-path {
    stroke: $knobPathColor;
  }

  .#{$knob-prefix}-circle-trail {
    stroke: $knobTrailColor;
  }
}
