$message-prefix: Message;

.#{$message-prefix} {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  z-index: 10010;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &.#{$message-prefix}-none {
    pointer-events: none;
  }

  .#{$message-prefix}-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
  }

  .#{$message-prefix}Item {

    .#{$message-prefix}Item-inner {
      position: relative;
      display: inline-flex;
      align-content: center;
      line-height: 1.5;

      .Toast-avatar {
        display: flex;
        align-content: center;
        font-size: 20px;
        padding-right: 10px;
      }

      .Toast-content {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.bm-ios {
  .#{$message-prefix} {
    position: absolute;
  }
}