$navbar-prefix: bm-NavBar;

.#{$navbar-prefix} {
  height: $NavBarHeight;
  width: 100%;
  box-sizing: border-box;
  font-size: 17px;
  position: relative;
  z-index: 500;
  backface-visibility: hidden;
  margin: 0;
  color: $navBarColor;
  background-color: $navBarBg;
  @include headerShadow();

  &.#{$navbar-prefix}-fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    + .bm-Content {
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
      padding-top: $NavBarHeight;
    }
  }

  .#{$navbar-prefix}-inner {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    a, .bm-Icon {
      display: flex;
      color: $navBarColor;
    }

    .bm-Icon {
      font-size: 25px;
    }

    .#{$navbar-prefix}-left, .#{$navbar-prefix}-right {
      position: relative;
      z-index: 1;
      flex-shrink: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transform: translate3d(0px, 0px, 0px);

      .bm-Button {
        height: 40px;
        width: 40px;
        min-width: 40px;
        box-shadow: none;
        background: transparent;
      }
    }

    .#{$navbar-prefix}-left {
      margin-right: 10px;
    }

    .#{$navbar-prefix}-right {
      margin-left: 10px;
    }

    .#{$navbar-prefix}-center {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
    }
  }
}