$notification-prefix: bm-Notification;

.#{$notification-prefix}-group {
  &.Message {
    .Message-mask {
      background: transparent;
    }

    .MessageItem .MessageItem-inner {
      display: flex;
      box-shadow: none;
      border-radius: 0;

      > div {
        width: 100%;
      }
    }
  }

  .#{$notification-prefix}-item {
    position: relative;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    color: #fff;
    padding: 16px 30px 16px 16px;
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    line-height: 1.5;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    transition: all .25s;

    @each $name, $color in $theme {
      &.#{$notification-prefix}-#{$name} {
        background: $color;
      }
    }

    &:not(.#{$notification-prefix}-default) {
      color: #fff;
    }

    .#{$notification-prefix}-avatar {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      & > i {
        font-size: 25px;
      }
    }

    .#{$notification-prefix}-item-content {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
      box-sizing: border-box;
      padding-left: 10px;

      .#{$notification-prefix}-message {
        display: block;
      }
    }

    .#{$notification-prefix}-progress {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: hsla(0, 0%, 100%, .2);

      .#{$notification-prefix}-progress-bar {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
        transition-delay: 100ms;
        transition-timing-function: linear;

        &.#{$notification-prefix}-progress-hide {
          width: 0;
        }
      }
    }

    .#{$notification-prefix}-close {
      position: absolute;
      right: 16px;
      top: 10px;
      opacity: .7;
      outline: none;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}
