$picker-prefix: Picker;
.#{$picker-prefix} {

  .#{$picker-prefix}-input {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    min-height: 38px;
    border-bottom: 1px solid $borderColor;
  }
}

.#{$picker-prefix}-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;

  .#{$picker-prefix}-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    color: #ccc;
    z-index: 10;
  }

  .#{$picker-prefix}-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
  }

  .#{$picker-prefix}-body,
  .#{$picker-prefix}-footer {
    display: flex;
    background: #fff;
  }

  .#{$picker-prefix}-body {
    position: relative;
    flex-wrap: wrap;
    margin: 10px 0;
    box-sizing: border-box;

    .#{$picker-prefix}-top-overlay,
    .#{$picker-prefix}-bottom-overlay {
      position: absolute;
      z-index: 10;
      left: 0;
      width: 100%;
      height: 40px;
      pointer-events: none;
      transform: translateZ(0)
    }

    .#{$picker-prefix}-top-overlay {
      bottom: 0;
      background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,.8)));
      background: -webkit-linear-gradient(top,hsla(0,0%,100%,.4),hsla(0,0%,100%,.8));
      background: linear-gradient(180deg,hsla(0,0%,100%,.4),hsla(0,0%,100%,.8))
    }

    .#{$picker-prefix}-bottom-overlay {
      top: 0;
      background: -webkit-gradient(linear,left bottom,left top,from(hsla(0,0%,100%,.4)),to(hsla(0,0%,100%,.8)));
      background: -webkit-linear-gradient(bottom,hsla(0,0%,100%,.4),hsla(0,0%,100%,.8));
      background: linear-gradient(0deg,hsla(0,0%,100%,.4),hsla(0,0%,100%,.8))
    }
  }

  .#{$picker-prefix}-footer {
    flex-wrap: nowrap;
  }

  .#{$picker-prefix}Item {
    width: 33.333%;
    height: 100%;
    color: #333;
    user-select: none;
    box-sizing: border-box;
  }

  .#{$picker-prefix}Item:first-child {
    padding-left: 5px;
  }

  .#{$picker-prefix}Item:last-child {
    padding-right: 5px;
  }

  .#{$picker-prefix}Item:not(:first-child):not(:last-child) {
    padding: 0 5px;
  }

  .#{$picker-prefix}-body .#{$picker-prefix}Item .#{$picker-prefix}Item-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 6px;
    text-align: center;
    //background: linear-gradient(0deg, #000, #444, #000);
    overflow: hidden;
  }

  .#{$picker-prefix}-body .#{$picker-prefix}Item-wrapper .#{$picker-prefix}Item-scroll .#{$picker-prefix}Item-item {
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 16px;
  }

  .#{$picker-prefix}Item-wrapper > .#{$picker-prefix}Item-scroll,
  .#{$picker-prefix}Item-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .#{$picker-prefix}Item-wrapper > .#{$picker-prefix}Item-scroll {
    z-index: 2;
    margin-top: 40px;
    transform: translate(0px, 0px);
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    transition-duration: 0ms;
  }

  .#{$picker-prefix}Item-overlay {
    height: 100%;
    z-index: 3;
    //background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(44, 44, 44, 0), rgba(0, 0, 0, 1));
    //background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(44, 44, 44, 0), rgba(0, 0, 0, 1));
  }

  .#{$picker-prefix}-line {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    margin-top: -1px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      background: #eee;
      height: 1px;
      width: 100%;
    }

    &:before {
      top: -20px;
    }

    &:after {
      top: 20px;
    }
  }

  .#{$picker-prefix}Item-label {
    height: 29px;
    line-height: 29px;
    font-size: 17px;
    text-align: center;
    color: #333;
  }

  .#{$picker-prefix}-footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $borderColor;
    .bm-Button {
      position: relative;
      color: #666;
      box-shadow: none;

      &:last-child {
        color: $primary;
      }
    }
  }

  .#{$picker-prefix}-header {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 15px;
    background: $primary;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}

.bm-ios {
  .#{$picker-prefix}-panel {
    position: absolute;
  }
}
