$rate-prefix: bm-Rate;

.#{$rate-prefix} {
  display: flex;
  align-items: center;
  font-size: 20px;

  .#{$rate-prefix}-item {
    position: relative;
    cursor: pointer;
    line-height: 0;
    color: $rateColor;
    font: $fontFamily;
    font-size: inherit;

    div {
      display: inline-block;
      padding: 0 4px;
      box-sizing: border-box;
    }

    .#{$rate-prefix}-half {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      z-index: 10;
      opacity: 0;
      overflow: hidden;
      padding-right: 0;
    }

    .#{$rate-prefix}-active {
      color: $rateActiveColor;
    }
  }

  &.#{$rate-prefix}-readonly {
    .#{$rate-prefix}-item {
      cursor: not-allowed;
    }
  }
}
