$segment-prefix: bm-Segment;

.#{$segment-prefix} {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  min-height: 27px;
  opacity: 1;

  .#{$segment-prefix}-item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: $primary;
    font-size: 14px;
    line-height: 1;
    transition: background .2s;
    position: relative;
    border: 1px solid $primary;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-left-width: 0;

    &:first-child {
      border-left-width: 1px;
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &.#{$segment-prefix}-item-selected {
      background: $primary;
      color: #fff;
    }

    &.#{$segment-prefix}-item-disabled {
      opacity: .5;
    }
  }
}