$sidebar-prefix: Sidebar;

.#{$sidebar-prefix} {
  z-index: 1000;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0,0,0);
  transition: all .3s;

  .#{$sidebar-prefix}-inner {
    position: relative;
    z-index: 2;
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 260px;
    height: 100%;
    transition-duration: .3s;
  }

  &.#{$sidebar-prefix}-drawer {
    z-index: 9999;
    pointer-events: none;

    .#{$sidebar-prefix}-overlay {
      display: block;
      opacity: 0;
      z-index: 1;
      background: rgba(0, 0, 0, .5);
      transition: opacity .1s;
    }

    &.#{$sidebar-prefix}-left-reveal {
      .#{$sidebar-prefix}-inner {
        transform: translate3d(-100%, 0, 0);
      }
    }
    &.#{$sidebar-prefix}-right-reveal {
      .#{$sidebar-prefix}-inner {
        transform: translate3d(100%, 0, 0);
      }
    }
  }

  &.#{$sidebar-prefix}-open {
    display: block;

    &.#{$sidebar-prefix}-drawer {
      pointer-events: auto;
      &.#{$sidebar-prefix}-left-reveal,
      &.#{$sidebar-prefix}-right-reveal {
        .#{$sidebar-prefix}-inner {
          transform: translate3d(0, 0, 0);
        }
      }

      .#{$sidebar-prefix}-overlay {
        opacity: 1;
      }
    }

    &.#{$sidebar-prefix}-left-reveal:not(.#{$sidebar-prefix}-drawer) {
      ~ .View {
        transform: translate3d(260px,0,0);
      }
    }

    &.#{$sidebar-prefix}-right-reveal:not(.#{$sidebar-prefix}-drawer) {
      ~ .View {
        transform: translate3d(-260px,0,0)
      }
    }

    &.#{$sidebar-prefix}-left-reveal:not(.#{$sidebar-prefix}-drawer),
    &.#{$sidebar-prefix}-right-reveal:not(.#{$sidebar-prefix}-drawer) {
      ~ .View {
        .View-overlay {
          display: block;
        }
      }
    }
  }

}