$col-prefix: Col;
$row-prefix: Row;

.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 40px;
  padding-left: 40px;
}

.#{$row-prefix} {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.#{$row-prefix}.reverse {
  flex-direction: row-reverse;
}

.#{$col-prefix}.reverse {
  flex-direction: column-reverse;
}

.#{$row-prefix}-column {
  flex-direction: column;
}

.#{$row-prefix}-column.reverse {
  flex-direction: column-reverse;
}

.#{$col-prefix},
.#{$col-prefix}-1,
.#{$col-prefix}-2,
.#{$col-prefix}-3,
.#{$col-prefix}-4,
.#{$col-prefix}-5,
.#{$col-prefix}-6,
.#{$col-prefix}-7,
.#{$col-prefix}-8,
.#{$col-prefix}-9,
.#{$col-prefix}-10,
.#{$col-prefix}-11,
.#{$col-prefix}-12,
.#{$col-prefix}-offset-0,
.#{$col-prefix}-offset-1,
.#{$col-prefix}-offset-2,
.#{$col-prefix}-offset-3,
.#{$col-prefix}-offset-4,
.#{$col-prefix}-offset-5,
.#{$col-prefix}-offset-6,
.#{$col-prefix}-offset-7,
.#{$col-prefix}-offset-8,
.#{$col-prefix}-offset-9,
.#{$col-prefix}-offset-10,
.#{$col-prefix}-offset-11,
.#{$col-prefix}-offset-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
}

.#{$col-prefix} {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.#{$col-prefix}-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.#{$col-prefix}-2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.#{$col-prefix}-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.#{$col-prefix}-4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.#{$col-prefix}-5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.#{$col-prefix}-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.#{$col-prefix}-7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.#{$col-prefix}-8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.#{$col-prefix}-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.#{$col-prefix}-10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.#{$col-prefix}-11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.#{$col-prefix}-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.#{$col-prefix}-offset-0 {
  margin-left: 0;
}

.#{$col-prefix}-offset-1 {
  margin-left: 8.33333333%;
}

.#{$col-prefix}-offset-2 {
  margin-left: 16.66666667%;
}

.#{$col-prefix}-offset-3 {
  margin-left: 25%;
}

.#{$col-prefix}-offset-4 {
  margin-left: 33.33333333%;
}

.#{$col-prefix}-offset-5 {
  margin-left: 41.66666667%;
}

.#{$col-prefix}-offset-6 {
  margin-left: 50%;
}

.#{$col-prefix}-offset-7 {
  margin-left: 58.33333333%;
}

.#{$col-prefix}-offset-8 {
  margin-left: 66.66666667%;
}

.#{$col-prefix}-offset-9 {
  margin-left: 75%;
}

.#{$col-prefix}-offset-10 {
  margin-left: 83.33333333%;
}

.#{$col-prefix}-offset-11 {
  margin-left: 91.66666667%;
}

.pull-right {
  align-items: flex-end;
}

.pull-left {
  align-items: flex-start;
}

.pull-center {
  align-items: center;
}

.align-content-start {
  align-content: flex-start!important
}

.align-content-end {
  align-content: flex-end!important
}

.align-content-center {
  align-content: center!important
}

.align-content-between {
  align-content: space-between!important
}

.align-content-around {
  align-content: space-around!important
}

.align-content-stretch {
  align-content: stretch!important
}

.align-self-auto {
  align-self: auto!important
}

.align-self-start {
  align-self: flex-start!important
}

.align-self-end {
  align-self: flex-end!important
}

.align-self-center {
  align-self: center!important;
}

.align-self-baseline {
  align-self: baseline!important
}

.align-self-stretch {
  align-self: stretch!important
}

.no-flex-wrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 767px) {

  .#{$col-prefix}-xs,
  .#{$col-prefix}-xs-1,
  .#{$col-prefix}-xs-2,
  .#{$col-prefix}-xs-3,
  .#{$col-prefix}-xs-4,
  .#{$col-prefix}-xs-5,
  .#{$col-prefix}-xs-6,
  .#{$col-prefix}-xs-7,
  .#{$col-prefix}-xs-8,
  .#{$col-prefix}-xs-9,
  .#{$col-prefix}-xs-10,
  .#{$col-prefix}-xs-11,
  .#{$col-prefix}-xs-12,
  .#{$col-prefix}-xs-offset-0,
  .#{$col-prefix}-xs-offset-1,
  .#{$col-prefix}-xs-offset-2,
  .#{$col-prefix}-xs-offset-3,
  .#{$col-prefix}-xs-offset-4,
  .#{$col-prefix}-xs-offset-5,
  .#{$col-prefix}-xs-offset-6,
  .#{$col-prefix}-xs-offset-7,
  .#{$col-prefix}-xs-offset-8,
  .#{$col-prefix}-xs-offset-9,
  .#{$col-prefix}-xs-offset-10,
  .#{$col-prefix}-xs-offset-11,
  .#{$col-prefix}-xs-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }

  .#{$col-prefix}-xs {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .#{$col-prefix}-xs-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .#{$col-prefix}-xs-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .#{$col-prefix}-xs-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .#{$col-prefix}-xs-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .#{$col-prefix}-xs-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .#{$col-prefix}-xs-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .#{$col-prefix}-xs-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .#{$col-prefix}-xs-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .#{$col-prefix}-xs-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .#{$col-prefix}-xs-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .#{$col-prefix}-xs-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .#{$col-prefix}-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .#{$col-prefix}-xs-offset-0 {
    margin-left: 0;
  }

  .#{$col-prefix}-xs-offset-1 {
    margin-left: 8.33333333%;
  }

  .#{$col-prefix}-xs-offset-2 {
    margin-left: 16.66666667%;
  }

  .#{$col-prefix}-xs-offset-3 {
    margin-left: 25%;
  }

  .#{$col-prefix}-xs-offset-4 {
    margin-left: 33.33333333%;
  }

  .#{$col-prefix}-xs-offset-5 {
    margin-left: 41.66666667%;
  }

  .#{$col-prefix}-xs-offset-6 {
    margin-left: 50%;
  }

  .#{$col-prefix}-xs-offset-7 {
    margin-left: 58.33333333%;
  }

  .#{$col-prefix}-xs-offset-8 {
    margin-left: 66.66666667%;
  }

  .#{$col-prefix}-xs-offset-9 {
    margin-left: 75%;
  }

  .#{$col-prefix}-xs-offset-10 {
    margin-left: 83.33333333%;
  }

  .#{$col-prefix}-xs-offset-11 {
    margin-left: 91.66666667%;
  }
}

@media (min-width: 768px) {
  .#{$col-prefix}-sm,
  .#{$col-prefix}-sm-1,
  .#{$col-prefix}-sm-2,
  .#{$col-prefix}-sm-3,
  .#{$col-prefix}-sm-4,
  .#{$col-prefix}-sm-5,
  .#{$col-prefix}-sm-6,
  .#{$col-prefix}-sm-7,
  .#{$col-prefix}-sm-8,
  .#{$col-prefix}-sm-9,
  .#{$col-prefix}-sm-10,
  .#{$col-prefix}-sm-11,
  .#{$col-prefix}-sm-12,
  .#{$col-prefix}-sm-offset-0,
  .#{$col-prefix}-sm-offset-1,
  .#{$col-prefix}-sm-offset-2,
  .#{$col-prefix}-sm-offset-3,
  .#{$col-prefix}-sm-offset-4,
  .#{$col-prefix}-sm-offset-5,
  .#{$col-prefix}-sm-offset-6,
  .#{$col-prefix}-sm-offset-7,
  .#{$col-prefix}-sm-offset-8,
  .#{$col-prefix}-sm-offset-9,
  .#{$col-prefix}-sm-offset-10,
  .#{$col-prefix}-sm-offset-11,
  .#{$col-prefix}-sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }

  .#{$col-prefix}-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .#{$col-prefix}-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .#{$col-prefix}-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .#{$col-prefix}-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .#{$col-prefix}-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .#{$col-prefix}-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .#{$col-prefix}-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .#{$col-prefix}-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .#{$col-prefix}-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .#{$col-prefix}-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .#{$col-prefix}-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .#{$col-prefix}-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .#{$col-prefix}-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .#{$col-prefix}-sm-offset-0 {
    margin-left: 0;
  }

  .#{$col-prefix}-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .#{$col-prefix}-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .#{$col-prefix}-sm-offset-3 {
    margin-left: 25%;
  }

  .#{$col-prefix}-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .#{$col-prefix}-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .#{$col-prefix}-sm-offset-6 {
    margin-left: 50%;
  }

  .#{$col-prefix}-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .#{$col-prefix}-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .#{$col-prefix}-sm-offset-9 {
    margin-left: 75%;
  }

  .#{$col-prefix}-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .#{$col-prefix}-sm-offset-11 {
    margin-left: 91.66666667%;
  }
}

@media (min-width: 992px) {
  .#{$col-prefix}-md,
  .#{$col-prefix}-md-1,
  .#{$col-prefix}-md-2,
  .#{$col-prefix}-md-3,
  .#{$col-prefix}-md-4,
  .#{$col-prefix}-md-5,
  .#{$col-prefix}-md-6,
  .#{$col-prefix}-md-7,
  .#{$col-prefix}-md-8,
  .#{$col-prefix}-md-9,
  .#{$col-prefix}-md-10,
  .#{$col-prefix}-md-11,
  .#{$col-prefix}-md-12,
  .#{$col-prefix}-md-offset-0,
  .#{$col-prefix}-md-offset-1,
  .#{$col-prefix}-md-offset-2,
  .#{$col-prefix}-md-offset-3,
  .#{$col-prefix}-md-offset-4,
  .#{$col-prefix}-md-offset-5,
  .#{$col-prefix}-md-offset-6,
  .#{$col-prefix}-md-offset-7,
  .#{$col-prefix}-md-offset-8,
  .#{$col-prefix}-md-offset-9,
  .#{$col-prefix}-md-offset-10,
  .#{$col-prefix}-md-offset-11,
  .#{$col-prefix}-md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }

  .#{$col-prefix}-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .#{$col-prefix}-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .#{$col-prefix}-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .#{$col-prefix}-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .#{$col-prefix}-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .#{$col-prefix}-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .#{$col-prefix}-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .#{$col-prefix}-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .#{$col-prefix}-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .#{$col-prefix}-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .#{$col-prefix}-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .#{$col-prefix}-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .#{$col-prefix}-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .#{$col-prefix}-md-offset-0 {
    margin-left: 0;
  }

  .#{$col-prefix}-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .#{$col-prefix}-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .#{$col-prefix}-md-offset-3 {
    margin-left: 25%;
  }

  .#{$col-prefix}-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .#{$col-prefix}-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .#{$col-prefix}-md-offset-6 {
    margin-left: 50%;
  }

  .#{$col-prefix}-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .#{$col-prefix}-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .#{$col-prefix}-md-offset-9 {
    margin-left: 75%;
  }

  .#{$col-prefix}-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .#{$col-prefix}-md-offset-11 {
    margin-left: 91.66666667%;
  }
}

@media (min-width: 1200px) {
  .#{$col-prefix}-lg,
  .#{$col-prefix}-lg-1,
  .#{$col-prefix}-lg-2,
  .#{$col-prefix}-lg-3,
  .#{$col-prefix}-lg-4,
  .#{$col-prefix}-lg-5,
  .#{$col-prefix}-lg-6,
  .#{$col-prefix}-lg-7,
  .#{$col-prefix}-lg-8,
  .#{$col-prefix}-lg-9,
  .#{$col-prefix}-lg-10,
  .#{$col-prefix}-lg-11,
  .#{$col-prefix}-lg-12,
  .#{$col-prefix}-lg-offset-0,
  .#{$col-prefix}-lg-offset-1,
  .#{$col-prefix}-lg-offset-2,
  .#{$col-prefix}-lg-offset-3,
  .#{$col-prefix}-lg-offset-4,
  .#{$col-prefix}-lg-offset-5,
  .#{$col-prefix}-lg-offset-6,
  .#{$col-prefix}-lg-offset-7,
  .#{$col-prefix}-lg-offset-8,
  .#{$col-prefix}-lg-offset-9,
  .#{$col-prefix}-lg-offset-10,
  .#{$col-prefix}-lg-offset-11,
  .#{$col-prefix}-lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
  }

  .#{$col-prefix}-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .#{$col-prefix}-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .#{$col-prefix}-lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .#{$col-prefix}-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .#{$col-prefix}-lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .#{$col-prefix}-lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .#{$col-prefix}-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .#{$col-prefix}-lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .#{$col-prefix}-lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .#{$col-prefix}-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .#{$col-prefix}-lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .#{$col-prefix}-lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .#{$col-prefix}-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .#{$col-prefix}-lg-offset-0 {
    margin-left: 0;
  }

  .#{$col-prefix}-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .#{$col-prefix}-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .#{$col-prefix}-lg-offset-3 {
    margin-left: 25%;
  }

  .#{$col-prefix}-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .#{$col-prefix}-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .#{$col-prefix}-lg-offset-6 {
    margin-left: 50%;
  }

  .#{$col-prefix}-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .#{$col-prefix}-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .#{$col-prefix}-lg-offset-9 {
    margin-left: 75%;
  }

  .#{$col-prefix}-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .#{$col-prefix}-lg-offset-11 {
    margin-left: 91.66666667%;
  }
}

.align-top {
  justify-content: flex-start;
  text-align: start;
}

.align-middle {
  justify-content: center;
  text-align: center;
}

.align-bottom {
  justify-content: flex-end;
  text-align: end;
}

.justify-start {
  align-items: flex-start;
}

.justify-center {
  align-items: center;
}

.justify-end {
  align-items: flex-end;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.order-first {
  order: -1;
}

.order-last {
  order: 1;
}

@for $i from 1 through 12 {
  .#{$col-prefix}-order-#{$i} {
    order: $i;
  }
}