<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,
      minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="keywords" content="bee-mobile,react,框架,ui框架,framework"/>
  <meta name="description" content="bee-mobile: UI Components for React."/>
  <meta name="author" content="TG">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <base href="/">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>-->
  <% if (htmlWebpackPlugin.options.stat) { %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111666394-2"></script>
  <script id="stat">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111666394-2');
  </script>
  <% } %>
</head>
<body>
<div id="root" class="height-100"></div>
<script>
     // if ('addEventListener' in document) {
     //     document.addEventListener('DOMContentLoaded', function() {
     //         FastClick.attach(document.body);
     //     }, false);
     // }
</script>
</body>
</html>

